.element-wrapper {
  --duration: 0.2s;
  --blue: #0075e3;
  --shadow-width: 2px;

  /* border: 1px solid transparent; */
  border-radius: 5px;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow var(--duration) ease-in-out;
  position: relative;

  &.element-wrapper--selected {
    border-color: var(--blue);
    box-shadow: 0 0 0 2px var(--blue);
  }

  .element-wrapper__config-button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    position: absolute;
    padding-left: 10px;
    left: calc(100% + var(--shadow-width));
    top: 50%;
    transform: translateY(-50%);

    & > button {
      background-color: var(--medium);
      color: white;
      border-radius: 999999px;
    }
  }
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
